# Archivos de configuración
cnfCorreo=srvCorreo.config
#Carpetas
crp.imagenes=images
crp.recursos=recursos
crp.configCorreo=config
#Imágenes
enviar=mail.png
imprimir=printer.png
nuevo=page.png
abrir=iconoAbrir.png
guardar=iconoGuardar.png
logoApp=logo_camara.png
iconoApp=iconoApp.png
#Archivos con valores varios
tareas=tareas.csv
componentes=componentes.csv
dependencias=dependencias.csv
jasperFichaTecnica=fichaTecnica.jasper
#Configuraciones Varias
formatoFecha=dd-MM-yyyy HH:mm:ss
extArchivoFichaTecnica=ft
descArchivoFichaTecnica=FICHA TECNICA
separadorCampos=10101010101010101010101
cantCaracteresComboBox=1000