# Archivos de configuración
cnf.Correo=srvCorreo.config
#Carpetas
crp.imagenes=images
crp.recursos=recursos
crp.configCorreo=config
crp.temp=temp
#Null por defecto trae mis documentos
crp.guardado=null
#Imágenes
btn.imag.enviar=mail.png
btn.imag.imprimir=printer.png
btn.imag.nuevo=page.png
btn.imag.abrir=iconoAbrir.png
btn.imag.guardar=iconoGuardar.png
imag.logoApp=logo_camara.png
imag.iconoApp=iconoApp.png
imag.iconoAppMail=logoemail.png
#Archivos con valores varios
val.tareas=tareas.csv
val.componentes=componentes.csv
val.dependencias=dependencias.csv
val.estados=estados.csv
val.ponderaciones=ponderaciones.csv
info.jasper.FichaTecnica=fichaTecnicaQR.jasper
imag.codigoQR=QRCodigo.png
#Configuraciones Varias
conf.formatoFecha=dd-MM-yyyy HH:mm:ss
conf.extArchivoFichaTecnica=ft
conf.descArchivoFichaTecnica=FICHA TECNICA
conf.separadorCampos=10101010101010101010101
conf.cantCaracteresComboBox=1000
conf.codificacion=UTF-8
default.appNom.cargarSesion=false
default.appNom.tecnico=A.U.S. Peralta Cesar Omar
val.columna.configuracion1=Nº
val.columna.configuracion2=Propiedad
val.columna.configuracion3=Valor