# Archivos de configuración
cnfCorreo=srvCorreo.config

#Imágenes
enviar=mail.png
imprimir=printer.png
nuevo=page.png
logoApp=logo_camara.png
iconoApp=iconoApp.png

#Archivos con valores varios
tareas=tareas.csv
componentes=componentes.csv
dependencias=dependencias.csv

#Configuraciones Varias
formatoFecha=dd-MM-yyyy HH:mm:ss
extensionArchivoFichaTecnica=ft
descripcionArchivoFichaTecnica=Ficha Técnica