mail.smtp.host=10.2.0.55
mail.smtp.starttls.enable=false
mail.smtp.port=25
mail.smtp.user=usuario
mail.smtp.auth=true
mail.debug=true
mail.smtp.from=soporte
conf.transport=smtp
default.correo.a=soporte@legislaturachaco.gov.ar
default.correo.de=soporte@legislaturachaco.gov.ar
default.correo.asunto=Servicio Técnico de: 

#Si es 0 es se toma el valor de mail.smtp.user=default.correo.de, 
#Si es 1: mail.smtp.user= se carga segun el usuario logeado del SO;
#Otro valor mail.smtp.user= se carga de archivo config\configuracionTecnico.config
default.correo.deSistema=2