mail.smtp.host=10.2.0.55
mail.smtp.starttls.enable=true
mail.smtp.port=25
mail.smtp.user=usuario
mail.smtp.auth=true
transport=smtp
default.correo.a=soporte@legislaturachaco.gov.ar
default.correo.de=usuario@legislaturachaco.gov.ar
default.correo.asunto=Servicio Técnico de: 
#Si es true es se toma el valor de mail.smtp.user=default.correo.de, sino mail.smtp.user= se carga segun el usuario logeado del SO;
default.correo.deSistema=false