#Thu Nov 21 08:20:09 ART 2019
default.correo.de=soporte@legislaturachaco.gov.ar
default.correo.asunto=Servicio T\u00E9cnico de\: 
default.correo.a=soporte@legislaturachaco.gov.ar
default.appNom.tecnico=
mail.smtp.from=soporte
mail.smtp.host=10.2.0.55
mail.debug=true
conf.transport=smtp
default.usuario.tecnico=
default.correo.deSistema=2
mail.smtp.starttls.enable=false
mail.smtp.port=25
mail.smtp.auth=true
mail.smtp.user=usuario
